body{
    background-color: rgb(9, 9, 9);
    background-image: url(../img/tea-watch-books-candle-wallpaper-preview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:75vw;
    padding: 50px;
}
#div{
    
}
h1{
    color: whitesmoke;
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
}
#quotes{
    width: fit-content;
    height: fit-content;
    color: whitesmoke;
    background-color: rgba(9, 9, 9, 0.62);
    font-size: 2rem;
    margin-left: 40px;
    border-radius: 5px;
    padding: 20px;
}
button{
    text-align: center;
    color: whitesmoke;
    font-size: 1.125rem;
}
#newquote{
    position: absolute;
    margin-left: 25px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(1, 98, 1);
    margin-right: 40px;

}
/* #back{
    margin-left: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:red;

} */